*{
    padding: 0;
    margin: 0;
    font-family: Poppins, Actor, Adamina;
    max-width: 100%;
    font-weight: lighter;
    
}
/* Section one styling */
.header{
    background-image: url("../images/moving\ 1.png");
    background-size:cover;
    height: 100%;
}
.menu > ul > li >a , button{
    text-decoration: none;
    color: white;
}
.menu > ul > li {
    display: inline-block;
    padding-top: 50px;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 0%;
    font-size: 20px;
}
.navbtn > a{
    text-decoration: none;
    color: black;
}
.navbtn2 > a{
    text-decoration: none;
    color: yellow;

}
.navbtn{
    font-size: 15px;
    background-color: yellow;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    border: none;
    color: black;
}
.navbtn2{
    color: yellow;
    background-color: black;
    border: none;
    font-size: 15px;
    padding: 2px;
}
